# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

hccServer/node_modules
healthcare_costs/node_modules

hccServer/.pnp
healthcare_costs/.pnp.js
hccServer/.pnp
healthcare_costs/.pnp.js

# testing
hccServer/coverage
healthcare_costs/coverage


# production
hccServer/build
healthcare_costs/build

# misc
hccServer/.DS_Store
hccServer/.env.local
hccServer/.env.development.local
hccServer/.env.test.local
hccServer/.env.production.local

healthcare_costs/.DS_Store
healthcare_costs/.env.local
healthcare_costs/.env.development.local
healthcare_costs/.env.test.local
healthcare_costs/.env.production.local

hccServer/npm-debug.log*
hccServer/yarn-debug.log*
hccServer/yarn-error.log*

healthcare_costs/npm-debug.log*
healthcare_costs/yarn-debug.log*
healthcare_costs/yarn-error.log*

